@use '../abstracts' as *;

header {
    padding: 30px 0 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 11;
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar__left {
            display: flex;
            align-items: center;
            gap: 35px;
            .navbar__left-list {
                display: flex;
                align-items: center;
                gap: 40px;
                li:first-child {
                    color: #DC780B;
                    opacity: 1;
                }
                li {
                    a {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.75px;
                        color: #150C01;
                        opacity: 0.6;
                        &:hover {
                            transition: .2s;
                            color: #DC780B;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .navbar__right {
            display: flex;
            align-items: center;
            gap: 16px;
            .navbar__booking-btn {
                padding: 14px 30px;
                border-radius: 5px;
                background: #DC780B;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 400;
                line-height: 18.75px;
                &:active {
                    transition: .2s;
                    scale: 0.97;
                }
            }
            .navbar__menu-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;  
            }
        }
    }
}

@media (max-width: 764px) {
    header {
        .navbar {
            .navbar__left {
                .navbar__left-list {
                    z-index: 10;
                    position: absolute;
                    top: 80px;
                    left: 0;    
                    width: 100%;
                    padding: 24px 0;
                    background: white;
                    box-shadow: 0 3px 5px #0002;
                    flex-direction: column;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    transition: .3s ease;
                    transform-origin: top;
                    transform: scaleY(0);
                }
                .navbar__left-list.show {
                    transform: scaleY(1);
                }
            }
            .navbar__menu-btn {
                display: block !important;
            }
            .navbar__booking-btn {
                padding: 10px 24px !important;
            }
        }
    }
}